---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Quiénes Somos"
	description="**InnovaSoluciones** ofrece soluciones personalizadas en ingeniería y consultoría, garantizando calidad y cumplimiento normativo en cada proyecto."
	pubDate={new Date('August 06 2024')}
	heroImage="/meetone.jpg"
>
<section class="container mx-auto py-8">
	<!-- Sección de Presentación -->
	<div class="mb-6">
	  <p class="text-lg leading-relaxed text-gray-700">
		<strong>InnovaSoluciones</strong> es una empresa de ingeniería y consultoría dedicada a ofrecer soluciones integrales y personalizadas para satisfacer las necesidades de nuestros clientes, ya sean empresas o particulares, en toda España. Con más de <span class="font-bold">3 años</span> de experiencia, nuestro equipo de expertos se especializa en brindar servicios de alta calidad, eficiencia y adaptabilidad, siempre bajo los más estrictos estándares de seguridad y normativas europeas.
	  </p>
	</div>
  
	<div class="mb-6">
	  <p class="text-lg leading-relaxed text-gray-700">
		Desde el Marcado CE de maquinaria y productos hasta la homologación de vehículos y la traducción técnica, en <strong>InnovaSoluciones</strong> nos comprometemos a transformar tus ideas y necesidades en soluciones efectivas y de éxito comprobado. Cada proyecto es una oportunidad para aplicar nuestro conocimiento técnico y nuestra pasión por la innovación, ofreciendo resultados que aseguran la satisfacción de nuestros clientes.
	  </p>
	</div>
  
	<!-- Sección de Visión -->
	<div class="mb-8">
	  <h2 class="text-2xl font-bold text-gray-900 mb-4">Nuestra Visión</h2>
	  <p class="text-lg leading-relaxed text-gray-700">
		Convertirnos en un referente en el sector de la ingeniería y consultoría en España, proporcionando servicios innovadores que permitan a nuestros clientes crecer y cumplir con las normativas vigentes de forma segura y eficiente.
	  </p>
	</div>
  
	<!-- Sección de Misión -->
	<div class="mb-8">
	  <h2 class="text-2xl font-bold text-gray-900 mb-4">Nuestra Misión</h2>
	  <p class="text-lg leading-relaxed text-gray-700">
		Ayudar a nuestros clientes a superar los desafíos técnicos y normativos a través de soluciones de ingeniería y consultoría personalizadas, innovadoras y eficientes. Nos esforzamos por ofrecer un servicio de calidad adaptado a las exigencias del mercado actual.
	  </p>
	</div>
  
	<!-- Sección de Valores -->
	<div class="mb-8">
	  <h3 class="text-xl font-bold text-gray-900 mb-4">Nuestros Valores</h3>
	  <ul class="list-disc pl-6 space-y-2 text-lg text-gray-700">
		<li><strong>Innovación:</strong> Buscamos constantemente nuevas formas de resolver problemas y mejorar nuestros procesos.</li>
		<li><strong>Calidad:</strong> Garantizamos que cada proyecto cumpla con los más altos estándares de precisión y seguridad.</li>
		<li><strong>Compromiso:</strong> Trabajamos codo a codo con nuestros clientes para entender sus necesidades y ofrecer soluciones a medida.</li>
		<li><strong>Confianza:</strong> La transparencia y la ética son los pilares de nuestra relación con cada cliente.</li>
		<li><strong>Eficiencia:</strong> Optimizamos nuestros procesos para entregar resultados de alto valor en el menor tiempo posible.</li>
	  </ul>
	</div>
  
	<!-- Sección de Equipo -->
	<div class="mb-8">
	  <h4 class="text-xl font-bold text-gray-900 mb-4">Nuestro Equipo</h4>
	  <p class="text-lg leading-relaxed text-gray-700">
		Contamos con un equipo multidisciplinario de ingenieros altamente cualificados y consultores especializados, lo que nos permite abordar una amplia gama de proyectos industriales, técnicos y normativos. Cada miembro de nuestro equipo está comprometido con brindar una experiencia profesional y cercana, enfocándose en la satisfacción del cliente en cada etapa del proyecto.
	  </p>

	  <a href="/">
		<button 		
		type="button" 
		class="inline-flex items-center justify-center  text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
			Solicita una consulta gratuita
		   
			<svg 
			 class="w-5 h-5 ml-2 -mr-1 transform rotate-[300deg]" 
			 fill="currentColor" 
			 viewBox="0 0 20 20" 
			 xmlns="http://www.w3.org/2000/svg">
				<path 
				 fill-rule="evenodd" 
				 d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" 
				 clip-rule="evenodd">
				</path>
			</svg>

		</button>
	  </a>

	</div>
  </section>
  
</Layout>
