<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1 data-aos="fade-up-sm" class="max-w-2xl mb-4 text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl dark:text-white">InnovaSoluciones: Ingeniería Innovadora y Consultoría a tu Alcance</h1>
            <p data-aos="fade-up-sm" data-aos-delay="200" class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Soluciones integrales en ingeniería y consultoría para empresas y particulares en toda España. Garantía de calidad y eficiencia en cada proyecto.</p>
           

            <a href="/">
                <button 
                data-aos-delay="300" 
                data-aos="fade-up-sm"
                type="button" 
                class="inline-flex items-center justify-center  text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
                    Solicita una consulta gratuita
                   
                    <svg 
                     class="w-5 h-5 ml-2 -mr-1 transform rotate-[300deg]" 
                     fill="currentColor" 
                     viewBox="0 0 20 20" 
                     xmlns="http://www.w3.org/2000/svg">
                        <path 
                         fill-rule="evenodd" 
                         d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" 
                         clip-rule="evenodd">
                        </path>
                    </svg>

                </button>
            </a>
           
           
            <a data-aos-delay="300" data-aos="fade-up-sm" href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 hover:txt-white-900 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Descubre nuestros servicios
            </a> 
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="/Glass.png" alt="mockup"> 
        </div>                
    </div>
</section>