<section data-aos="fade-up" id="Servicios" class="bg-gray-50 dark:bg-gray-800">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Nuestros Servicios</h2>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400">Soluciones a Medida para Cada Necesidad Industrial
            </p>
        </div>
        
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                        
            <!-- marcado ce  -->
            <div data-aos="fade-up" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/blog/marcado_ce_de_maquinaria_y_productos/">
                    <img class="rounded-t-lg img-fixed-size" src="/pexels-daniel-smyth-83914874-8865187.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/blog/marcado_ce_de_maquinaria_y_productos/">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Marcado CE de Maquinaria y Productos</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Garantizamos que tu maquinaria y productos cumplan con las normativas europeas de seguridad mediante el Marcado CE. 
                        Asegura la calidad y legalidad de tus productos en el mercado.
                    </p>
                    <a href="/blog/marcado_ce_de_maquinaria_y_productos/" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Conoce más sobre Marcado CE
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                        </svg>
                    </a>
                </div>
            </div>	
            <!-- Ingeniería Industrial: Proyectos e Informes -->
            <div data-aos="fade-up" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/blog/ingenieria_industrial/">
                    <img class="rounded-t-lg img-fixed-size" src="/pexels-hyundaimotorgroup-19317897.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/blog/ingenieria_industrial/">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ingeniería Industrial: Proyectos e Informes</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Ofrecemos soluciones completas en ingeniería industrial. Desde proyectos detallados hasta informes técnicos y cálculos para cumplir con tus necesidades operativas.
                    </p>
                    <a href="/blog/ingenieria_industrial/" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Descubre nuestros Proyectos Industriales
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                        </svg>
                    </a>
                </div>
            </div>	
            <!-- Seguridad en Equipos y Maquinaria -->
            <div data-aos="fade-up" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/blog/seguridad/">
                    <img class="rounded-t-lg img-fixed-size" src="/pexels-thisisengineering-3862605.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/blog/seguridad/">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Seguridad en Equipos y Maquinaria</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Aseguramos que tu maquinaria cumpla con todas las normativas de seguridad, incluso para equipos antiguos sin Marcado CE. Protege a tu equipo y tus operaciones.
                    </p>
                    <a href="/blog/seguridad/" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Mejora la Seguridad de tus Equipos
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                        </svg>
                    </a>
                </div>
            </div>	
            
            <!-- Homologación de Vehículos y Proyectos de Reforma -->
            <div data-aos="fade-up" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/blog/homologacion/">
                    <img class="rounded-t-lg img-fixed-size" src="/pexels-tima-miroshnichenko-6694481.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/blog/homologacion/">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Homologación de Vehículos y Proyectos de Reforma</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Facilitamos la homologación y reforma de todo tipo de vehículos, garantizando que cumplan con las normativas técnicas vigentes. 
                        Desde vehículos industriales hasta modificaciones personales.
                    </p>
                    <a href="/blog/homologacion/" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Solicita tu Homologación
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                        </svg>
                    </a>
                </div>
            </div>
            
            <!-- Traducción Técnica de Documentación -->
            <div data-aos="fade-up" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/blog/documentacion/">
                    <img class="rounded-t-lg img-fixed-size" src="/pexels-thisisengineering-3861972.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/blog/documentacion/">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Traducción Técnica de Documentación</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Traducimos la documentación técnica necesaria para la comercialización y operación de productos dentro del Espacio Económico Europeo. 
                        Precisión y cumplimiento garantizado.
                    </p>
                    <a href="/blog/documentacion/" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Solicita tu Traducción Técnica
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Grabado y Corte Láser de Placas Técnicas -->
            <div data-aos="fade-up" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <a href="/blog/cortelaser/">
                    <img class="rounded-t-lg  img-fixed-size" src="/pexels-joaojesusdesign-19316522.jpg" alt="" />
                </a>
                <div class="p-5">
                    <a href="/blog/cortelaser/">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Grabado y Corte Láser de Placas Técnicas</h5>
                    </a>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        Fabricamos placas identificativas y de características técnicas en distintos materiales como plástico, aluminio y acero inoxidable, adaptadas a tus especificaciones.
                    </p>
                    <a href="/blog/cortelaser/" class="inline-flex font-medium items-center text-blue-600 hover:underline">
                        Ver Opciones de Grabado
                        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<style>
.img-fixed-size {
    width: 100%; /* Ocupará todo el ancho disponible del contenedor */
    height: 200px; /* Mantén una altura fija */
    object-fit: cover; /* Recorta la imagen para que cubra toda el área sin deformarse */
    object-position: center; /* Centra la imagen para un recorte estético */
}

</style>